html {
  min-height: 100%;
}
body {
  background: deepskyblue;
  color: white;
  font-family: 'Verdana';
}

input {
  border: none;
  border-radius: 10px;
}
#submit-button {
  background: lime;
  color: white;
}